  <div class="footer">
    <div class="container grid">
      <div class="col-12">
        <a> &#169 EÏNAI Interioristas</a>
      </div>
    </div>
  </div>

  <script src="/assets/scripts/nav.js"></script>
<!-- Fancybox -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script type="module">
  import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
</script>
  </body>
</html>