.footer {
  background-color: var(--kraft);
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  font-size: var(--text-caption);
}
.footer a{
    text-decoration: ;
    color: var(--blau);
    margin-left: 20px;
}
.footer a:hover{
    cursor: pointer;
    color: var(--blanc);
}
.marca{
    text-align: center;
    margin-top:var(--spacer-m);
}
.rrss{
    grid-column-end: -9;
    margin-top:var(--spacer-m);
}
.face{
    text-decoration: none;
}
.insta{
    text-decoration: none;
}
.footer-contacto{
    grid-column-end: -2; 
    margin-top:var(--spacer-m);
}
.mail{
    text-decoration: none;
}