.footer {
  background-color: var(--blau);
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  font-size: var(--text-caption);
  text-align: center;
}
.footer a{
    text-decoration: ;
    color: var(--blanc);
    margin-left: 20px;
}
.footer a:hover{
    cursor: pointer;
    color: var(--blau2);
}
