.header {
  background-color: var(--kraft2);
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: var(--z-index-header);
}
.header .container{
    display: flex;
}
.header img{
    display: block;
}
.header-logo{
   width: 170px;
    position: relative;
    z-index: var(--z-index-logo);
}